<md-card class="md-card">
<form class="song-edit-form" #heroForm="ngForm">
	<md-card-header class="song-edit-table">
		<md-card-title >
			<md-input-container class="song-edit-table"> 
				<input mdInput placeholder="Title" required [(ngModel)]="song.title" name="title">
			</md-input-container>
			<md-input-container class="song-edit-table"> 
				<input mdInput placeholder="Language" [(ngModel)]="song.language" name="language">
			</md-input-container>
		</md-card-title>
	</md-card-header>	
	<md-card-content>	
	<table class="song-edit-table" cellspacing="0">
		<tr>
			<td><md-input-container class="example-full-width">
				<input mdInput placeholder="First name"> </md-input-container></td>
			<td><md-input-container class="example-full-width">
				<input mdInput placeholder="Long Last Name That Will Be Truncated">
				</md-input-container></td>
		</tr>
	</table>

	<p>
		<md-input-container class="song-edit-table"> <textarea
			mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea> </md-input-container>
		<md-input-container class="song-edit-table"> <textarea
			mdInput placeholder="Address 2"></textarea> </md-input-container>
	</p>

	<table class="song-edit-table" cellspacing="0">
		<tr>
			<td><md-input-container class="song-edit-table">
				<input mdInput placeholder="City"> </md-input-container></td>
			<td><md-input-container class="song-edit-table">
				<input mdInput placeholder="State"> </md-input-container></td>
			<td><md-input-container class="song-edit-table">
				<input mdInput #postalCode maxlength="5" placeholder="Postal Code"
					value="94043"> <md-hint align="end">{{postalCode.value.length}}
				/ 5</md-hint> </md-input-container></td>
		</tr>
	</table>
	</md-card-content>
	<md-card-actions>
		<button md-raised-button>Save</button>
		<button md-raised-button>Cancel</button>
	</md-card-actions>

</form>
</md-card>

