<md-toolbar color="warm">
    <app-song-search class="toolbar-spacer" ></app-song-search>    
    <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
    <button md-menu-item [routerLink]="['create']" >
        <md-icon>add</md-icon>
        <span>New</span>
    </button>
    <button md-menu-item >
        <md-icon>refresh</md-icon>
        <span>Refresh</span>
    </button>
    <button md-menu-item disabled >
        <md-icon>notifications_off</md-icon>
        <span>Disable</span>
    </button>
    </md-menu>
</md-toolbar>

<!--Router Outlet -->
<router-outlet></router-outlet>